/*
 Theme Name:    Electro Child
 Theme URI:     https://themeforest.net/item/electro-electronics-store-woocommerce-theme/15720624
 Description:   This is the child theme of Electro
 Author:        MadrasThemes
 Author URI:    https://madrasthemes.com/
 Template:      electro
 Version:       2.6.1
 License:       GNU General Public License v2 or later
 License URI:   http://www.gnu.org/licenses/gpl-2.0.html
 Tags:          light, dark, two-columns, right-sidebar, responsive-layout
 Text Domain:   electro-child
*/

.yith_wcwl_wishlist_footer {
    display: none;
}

#post-5647 .entry-header .entry-title {
    display: none !important;
}

#post-5647 .woocommerce-MyAccount-content .entry-header .entry-title {
    display: block !important;
}

.custom_currency_box {
    display: none !important;
}

/* body.product-template-default.single.single-product */
/* .woocommerce-variation-price  */
/* .custom_currency_box {
    display: block !important;
} */

.carousel-inner>.carousel-item>a>img,
.carousel-inner>.carousel-item>img,
.img-fluid {
    width: 100% !important;
}

.register-benefits {
    display: none;
}

/* PRODUCT PAGE */

h1.product_title.entry-title {
    line-height: 1.4em;
    font-size: 20px;
}

/* body.product-template-default.single.single-product  */
span.woocs_price_code {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
}

img.logo.GXM,
img.logo.USDT {
    width: 25px !important;
    height: 25px !important;
}

.custom_currency_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
}

.custom_currency_box.row {
    float: left;
    padding-left: 20px;
}

.custom_currency {
    display: flex;
    text-align: center !important;
    margin: 0 auto !important;
    height: 35px;
}

.custom_currency_box.row {
    font-size: 15px;
    text-align: center;
    justify-content: center;
}


.custom_currency_text {
    text-align: center !important;
    padding: 6px 8px !important;
    justify-content: center !important;
}

.custom_currency_logo {
    padding: 5px 0;
    width: 25px !important;
    height: 25px !important;
}

.product-outer.product-item__outer span.price {
    text-align: center !important;
}

/*.price-add-to-cart {*/
/*    height: 136px !important;*/
/*}*/

body.product-template-default.single.single-product p.price {
    margin-bottom: 0 !important;
}

.single_variation_wrap .custom_currency_box.row {
    margin-right: 25px;
}

.single_variation_wrap .custom_currency_text {
    padding: 0 !important;
}

.single_variation_wrap .custom_currency_logo {
    margin: 5px 5px 5px 0 !important;
}

/* body.product-template-default.single.single-product .custom_currency_box.row,
body.product-template-default.single.single-product .product-type-variable .single-product-wrapper .summary.entry-summary .price,
body.product-template-default.single.single-product .product-type-variable .single-product-wrapper .summary.entry-summary .custom_currency_box.row {
    display: none !important;
} */

body.product-template-default.single.single-product .product-type-simple .single-product-wrapper .summary.entry-summary .custom_currency_box.row,
body.product-template-default.single.single-product .product-type-variable .single-product-wrapper .summary.entry-summary .woocommerce-variation-price .price,
body.product-template-default.single.single-product .product-type-variable .single-product-wrapper .summary.entry-summary .woocommerce-variation-price .custom_currency_box.row {
    display: block !important;
}

body.product-template-default.single.single-product .single-product-wrapper .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled,
body.product-template-default.single.single-product .single-product-wrapper .summary.entry-summary form.cart {
    margin-top: 80px !important;
}

/* .merchant-footer img {
    margin: 5px 0 30px 0;
    height: 90px;
} */

ul.wc_payment_methods.payment_methods.methods {
    display: none;
}

body.product-template-default.single.single-product table.woocommerce-product-attributes.shop_attributes {
    display: none;
}

#tab-description p {
    margin: 0 !important;
}

#tab-description img {
    text-align: center !important;
    width: 100% !important;
}

ins {
    text-decoration: none !important;
}

/* END PRODUCT PAGE */

/* FOOTER */

.text-center {
    text-align: center !important;
}

.footer-header {
    width: 100%;
}

.row.wrapper_footer_static.homepage {
    background-color: #e4e4e4;
}

footer.page-footer {
    background-color: #fed700;
}

.row.wrapper_footer_static.homepage {
    font-size: 16px !important;
    color: #000000;
    font-weight: 500;
}

.col-xs-12.col-sm-12.col-md-12.text-center.home-footer-header {
    margin: 30px 0px 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.merchant-footer {
    display: flex;
    justify-content: center;
}

img.footer-img {
    margin: 15px auto;
}

.handheld-footer {
    display: none !important;
}

.merchant-footer {
    padding: 20px 50px !important;
}

.merchant-img {
    max-width: 100px !important;
}

/* END FOOTER */

/* HOMEPAGE */

.section-onsale-product .savings .savings-text,
.section-onsale-product-carousel .savings .savings-text {
    font-size: 18px !important;
}

img.attachment-shop_single.size-shop_single.wp-post-image {
    width: 100% !important;
}

.electro-wide .product-main-2-1-2 .images .thumbnails {
    padding-top: 30px !important;
}

ul.nav.nav-inline.products-4-1-4__nav li:nth-child(2) {
    display: none;
}

.products-4-1-4__nav .nav-link.active {
    font-size: 22px !important;
    font-weight: 400 !important;
}

.products-4-1-4__nav .nav-link.active:before {
    display: none !important;
}

.products-4-1-4__nav {
    justify-content: flex-start !important;
}

@media (min-width:1198px) {
    .off-canvas-navigation-wrapper {
        display: none;
    }
}

/* END HOMEPAGE */